<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <!--  shutdown hook 등록하여 logback이 appender를 중지시키도록  -->
    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>

    <!-- 로그스트림 타임스탬프 -->
    <timestamp key="BY_DATE" datePattern="yyyy-MM-dd"/>
    <property name="LOG_PATTERN"
              value="[%d{yyyy-MM-dd HH:mm:ss}:%-4relative] %green([%thread]) %highlight(%-5level) %boldWhite([%C.%M:%yellow(%L)]) - %msg%n"/>

    <!--  A console output -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProperty name="AWS_ACCESS_KEY" source="cloud.aws.credentials.accessKey"/>
    <springProperty name="AWS_SECRET_KEY" source="cloud.aws.credentials.secretKey"/>

    <appender name="ASYNC_AWS_LOGS" class="ca.pjer.logback.AwsLogsAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>

        <layout>
            <pattern>%d{yyyyMMdd'T'HHmmss} %thread %level %logger{15} %msg%n</pattern>
        </layout>

        <!-- 로그그룹명 -->
        <logGroupName>getabeer-log</logGroupName>
        <!-- 로그 스트림 식별자 -->
        <logStreamUuidPrefix>getabeer-stream</logStreamUuidPrefix>
        <logRegion>ap-northeast-2</logRegion>

        <!-- 배치의 최대 이벤트 수 (default 50) -->
        <maxBatchLogEvents>50</maxBatchLogEvents>

        <!-- 배치가 차거나, 일정 시간이 충족되면 flush -->
        <maxFlushTimeMillis>30000</maxFlushTimeMillis>

        <!-- max block time : 로거 대기 시간동안 코드 실행 차단 (default 5000) -->
        <!-- 0으로 세팅하면 전송 중 발생하는 로그 버림 -->
        <maxBlockTimeMillis>5000</maxBlockTimeMillis>

        <!-- Retention value for log groups, 0 for infinite see -->
        <!-- https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_PutRetentionPolicy.html for other -->
        <!-- possible values -->

        <retentionTimeDays>0</retentionTimeDays>
    </appender>

</configuration>