<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty name="WEBHOOK" source="discord.webhook"/>
    <appender name="DISCORD_API" class="be.global.discord.DiscordAppender">
        <webhookUri>${WEBHOOK}</webhookUri>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level --- [%thread] %logger{35} : %msg %n</pattern>
        </layout>
    </appender>
    <appender name="ERROR_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <!-- 에러로그를 설정하고 로그의 레벨이 맞으면 onMatch, 아니라면 onMismatch  -->
            <level>error</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <append>false</append>
        <file>be/error/error.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level --- [%thread] %logger{35} : %msg %n</pattern>
        </encoder>
        <!-- Rolling 정책 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
            <!-- .gz,.zip 등을 넣으면 자동 분 당 로그파일 압축 -->
            <fileNamePattern>be/error/error-%d{yyyy-MM-dd-HH-mm}-%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- 파일당 최고 용량 kb, mb, gb -->
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <!-- 일자별 로그파일 최대 보관주기(~일), 해당 설정일 이상된 파일은 자동으로 제거-->
            <maxHistory>5</maxHistory>
        </rollingPolicy>
    </appender>
    <!--  A console output -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level --- [%thread] %msg %n</pattern>
        </encoder>
    </appender>

    <springProfile name="dev">
        <root>
            <level value="INFO"/>
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="ERROR_LOG"/>
            <appender-ref ref="DISCORD_API"/>
        </root>
    </springProfile>

    <springProfile name="local">
        <root>
            <level value="INFO"/>
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

</configuration>