@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gmarket Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Gmarket Sans Bold'), local('GmarketSans-Bold'),
    url('http://script.ebay.co.kr/fonts/GmarketSansBold.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('http://script.ebay.co.kr/fonts/GmarketSansBold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Gmarket Sans';
  font-style: normal;
  font-weight: 500;
  src: local('Gmarket Sans Medium'), local('GmarketSans-Medium'),
    url('http://script.ebay.co.kr/fonts/GmarketSansMedium.woff2')
      format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('http://script.ebay.co.kr/fonts/GmarketSansMedium.woff')
      format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Gmarket Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Gmarket Sans Light'), local('GmarketSans-Light'),
    url('http://script.ebay.co.kr/fonts/GmarketSansLight.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('http://script.ebay.co.kr/fonts/GmarketSansLight.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.swiper {
  --swiper-theme-color: #f1b31c;
}

@layer components {
  .noneContent {
    @apply bg-white m-2 py-10 text-xs border text-y-gray rounded-xl shadow-sm flex justify-center items-center;
  }
}
